.process {
  display: flex;
  position: relative;
  top: 160px;
  justify-content: space-between;

  &__info {
    width: 40%;
    padding-bottom: 92px;
  }

  &__subtitle {
    padding-bottom: 64px;
  }

  &__text {
    padding-bottom: 36px;
  }

  &__card-list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 45%;
    max-width: 250px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.05);
    background-color: $light-color;
    font-size: 13px;
    text-align: center;
    margin-bottom: 128px;
    padding: 48px 36px;


    &:nth-child(odd) {
      top: 128px;
    }

    &:nth-child(1) {
      .process__item-number {
        color: $bright-color;

        &::before {
          background-color: $bright-color;
        }
      }
    }

    &:nth-child(2) {
      .process__item-number {
        color: $active-color;

        &::before {
          background-color: $active-color;
        }
      }
    }

    &:nth-child(3) {
      .process__item-number {
        color: $process-color-1;

        &::before {
          background-color: $process-color-1;
        }
      }
    }

    &:nth-child(4) {
      .process__item-number {
        color: $process-color-2;

        &::before {
          background-color: $process-color-2;
        }
      }
    }

    &:hover {
      transform: scale(1.1);
      transition: .5s;
    }
  }

  &__item-number {
    width: 48px;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 48px;
      opacity: 0.2;
    }
  }
}
