html, body, header, footer, main, section div,
span, h1, h2, h3, h4, h5, h6, p, a, img, nav {
	border: 0;
  vertical-align: baseline;
  font-family: Muli;
	font-size: 16px;
  line-height: 150%;
  margin: 0;
	padding: 0;
}

header, footer, nav {
	display: block;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
