h2, h3, h5 {
  font-weight: 900;
  color:$dark-color;
}

h1 {
  font-weight: 900;
  font-size: 64px;
}

h2 {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-size: 32px;
  line-height: 140%;
}

h4 {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-size: 19.6px;
  line-height: 140%;
}

.subtitle-bright,
.subtitle-light {
  display: flex;
  margin-bottom: 21px;

  &_img {
    width: 21px;
    height: 21px;
    margin-right: 16px;
  }
}

.subtitle-bright {
  color: $bright-color;
}

.subtitle-light {
  color: $light-color;
}
